body{
    padding: 200px;
 background-image: url(https://cdn.pixabay.com/photo/2017/07/25/19/27/star-2539245_640.jpg);
 background-repeat: no-repeat;
 background-size: cover;

}


.neptune{
border-radius: 50%;
height:900px ;
width: 900px;
border: 1px solid white;

}
.nept-pic{
    border-radius: 50%;
    height: 65px;
    width:65px ;
top: 170px;
position: absolute;
left: 680px;
}
.uranus{
    border-radius: 50%;
    height:800px ;
    width: 800px;
    border: 1px solid white;
    margin-top: 50px;

}
.ura-pic{
    
    border-radius: 50%;
    height: 70px;
    width: 70px;
    left: 372px;
    top: 318px;
    position: absolute;
}
.satrun{
    border-radius: 50%;
    height:700px ;
    width: 700px;
    border: 1px solid white;
    margin-top: 50px;
    

}
.sat-pic{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    left: 289px;
    top: 528px;
    position: absolute;
   
}
.jupiter{
    border-radius: 50%;
    height:600px ;
    width: 600px;
    border: 1px solid white;
    margin-top: 50px;
}
.jup-pic{
    border-radius: 50%;
    width: 60px;
    top: 754px;
    left: 352px;
    position: absolute;
}
.mars{
    border-radius: 50%;
    height:500px ;
    width: 500px;
    border: 1px solid white;
    margin-top: 50px;
}
.mars-pic{
    border-radius: 50%;
    width: 60px;
    right: 592px;
    top: 879px;
    position: absolute;
}
.earth{
    border-radius: 50%;
    height:400px ;
    width: 400px;
    border: 1px solid white;
    margin-top: 50px;
}.earth-pic{
    border-radius: 50%;
    width: 60px;
    position: absolute;
    right: 380px;
    top: 669px;

}
.venus{
    border-radius: 50%;
    height:300px ;
    width: 300px;
    border: 1px solid white;
    margin-top: 50px;
}
.venus-pic{
    border-radius: 50%;
    width: 60px;
    position: absolute;
    right: 538px;
    top: 490px;
}
.mercury{
    border-radius: 50%;
    height:200px ;
    width: 200px;
    border: 1px solid white;
    margin-top: 50px;
}
.mer-pic{
    border-radius: 50%;
    width: 60px;
    position: absolute;
    left: 722px;
    top: 601px;
}
.sun-pic {
    border-radius: 50%;
  
    width: 100px;
    position: absolute;
    left: 611px;
    top: 621px;}
